---
---

@import "{{ site.theme }}";

p {
    font-size: 18px;
}

h2 {
    font-size: 28px;
}

.wrapper {
    width:1050px;
}

nav {
    margin-left: -780px;
}

section {
    width:1000px;
}

#banner {
    margin-right: -720px;

    .fork {
        position: absolute;
        left: 37.8%;
    }

    .btn-home {
        position: absolute;
        left: 25.7%;
    }

    #post-categories {
        margin: 0;
        // position: absolute;
        position: relative;
        text-align: right;
        margin-right: 10%;
        left: 50.2%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

footer {
    margin-left: -790px;
    width: 240px;
    line-height: 6px;
    // margin-bottom: 1px;

    p {
        font-size: 12px;
    }
}

#personal-photo {
    margin-right: 20px;
    width: 155px;
}

// Set code block font to monospace.
figure.highlight pre code {
    font-family: Consolas, 'Courier New', Menlo, Monaco, monospace;
    
    span {
        font-family: Consolas, 'Courier New', Menlo, Monaco, monospace;
    }
}
